<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Error</title>
        <link th:href="@{/css/style.css}" rel="stylesheet">
    </head>
    <body>

        <div class="errorContainer">
            <div>
                <h2>OOPS!</h2>
                <p>Something went wrong</p>
                <p><a class="backBtn" href="/">Go Back</a></p>
            </div>
        </div>

        <footer>
            Image Credits - <a href="http://www.freepik.com">Designed by Freepik</a>
        </footer>

    </body>
</html>