<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Job Notifier</title>
        <link th:href="@{/css/style.css}" rel="stylesheet">
    </head>
    <body>
        <div class="outerContainer">
            <div>
                <img class="jobBgImg" src="/images/job_background.jpg" alt="job_background_image">
            </div>
            <div class="contentContainer">
                <div class="headerContainer applyCentreFlex">
                    <h1 class="margin0Px">Technopark Job Alerts</h1>
                    <p class="margin5Px">Register your email to get notifications whenever new jobs are posted!</p>
                </div>
                <button id="joinBtn" class="marginBottom20Px">I am ready. Count me in</button>
                <button id="unSubBtn">I got the offer. Opt me out</button>
                <div>
                    <p class="errMessage"></p>
                </div>
                <div class="notifyEnableContainer hideDiv">
                    <form th:action="@{/savejobnotifierentry}" method="POST" onsubmit="return validateNotifyEnableFields();">
                        <div>
                            <div class="paddingBottom10Px">
                                <label for="joinUserEmail">Type your email to join <span class="mandatoryMark">*</span></label>
                            </div>
                            <div>
                                <input th:name="userEmail" type="text" id="joinUserEmail" onclick="clearErrMessage();"/>
                            </div>
                        </div>
                        <div>
                            <div class="paddingBottom10Px">
                                <label for="userKeywords">Provide keywords to be matched in job title (comma separated)
                                    <span class="mandatoryMark">*</span><br><i>(Eg: If you are looking for a Developer role, add Developer as keyword)</i>
                                </label>
                            </div>
                            <div>
                                <input th:name="userKeywords" type="text" id="userKeywords" onclick="clearErrMessage();"/>
                            </div>
                        </div>
                        <div class="btnContainer">
                            <button type="button" class="cancelBtnOne">Cancel</button>
                            <input type="submit"/>
                        </div>
                    </form>
                </div>
                <div class="notifyDisableContainer hideDiv">
                    <form th:action="@{/deletejobnotifierentry}" method="POST" onsubmit="return validateNotifyDisableFields();">
                        <div>
                            <div class="paddingBottom10Px">
                                <label for="leaveUserEmail">Type your email to unsubscribe <span class="mandatoryMark">*</span></label>
                            </div>
                            <div>
                                <input th:name="userEmail" type="text" id="leaveUserEmail" onclick="clearErrMessage();"/>
                            </div>
                        </div>
                        <div class="btnContainer">
                            <button type="button" class="cancelBtnTwo">Cancel</button>
                            <input type="submit"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer>
            Image Credits - <a href="http://www.freepik.com">Designed by Freepik</a>
        </footer>
        <script src="/js/script.js" rel="script"></script>
    </body>
</html>